# Database
DATABASE_URL="postgresql://${{PGUSER}}:${{PGPASSWORD}}@${{RAILWAY_TCP_PROXY_DOMAIN}}:${{RAILWAY_TCP_PROXY_PORT}}/${{PGDATABASE}}"

# Email (Resend)
RESEND_API_KEY="re_TVTeAAPf_Ns7GjsEUKicWdZFsrUP8F5Q3"
NOTIFICATION_EMAIL="sinayaghoob@yahoo.com"

# App
NEXT_PUBLIC_SITE_URL="https://kiss-weddings.se"
