# Database
DATABASE_URL="postgresql://postgres:lKDdmxwDRHWPwvnOjUNZcQowIQtDJXHR@postgres.railway.internal:5432/railway"

# Email (Resend)
RESEND_API_KEY="re_TVTeAAPf_Ns7GjsEUKicWdZFsrUP8F5Q3"
NOTIFICATION_EMAIL="hello@kiss-weddings.se"

# App
NEXT_PUBLIC_SITE_URL="https://kiss-weddings.se"
